<!-- 顶部栏 -->
<ion-header>
  <!-- 第一行：标题 -->
  <ion-toolbar>
    <ion-title class="center-title">testV1.0</ion-title>
  </ion-toolbar>

  <!-- 第二行：搜索框 + 右侧图标 -->
  <ion-toolbar>
  <!-- 搜索框 + 添加图片搜索按键 -->
    <ion-searchbar 
      placeholder="搜索商品、服务或商家..." 
      [(ngModel)]="searchText"
      (ionInput)="onSearch()"
      animated>
    </ion-searchbar>

    <!-- 右侧：消息通知 + 用户头像 -->
    <ion-buttons slot="end">
      
    <!-- 信息标志（有信息会显示红点） -->
      <ion-button (click)="goToMessages()" class="relative-pos">
        <ion-icon name="mail-outline" slot="icon-only"></ion-icon>
        <span *ngIf="hasUnreadMessage" class="red-dot"></span>
      </ion-button>

      <!-- 用户头像（点击跳转用户页面） -->
      <ion-avatar (click)="goToUser()" class="clickable">
        <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- 可滚动内容 -->
<ion-content [fullscreen]="true">
  
  <!-- 图片轮播图 -->
    <!-- 轮播外层 -->
    <swiper-container class="my-swiper" pagination="true">
      <!-- 轮播1 -->
      <swiper-slide>
        <img src='assets\icon\home-slide\蔬菜.png' />
      </swiper-slide>

      <!-- 轮播2 -->
      <swiper-slide>
        <img src='assets\icon\home-slide\日常.png' />
      </swiper-slide>

      <!-- 轮播3 -->
      <swiper-slide>
        <img src='assets\icon\home-slide\科技.png' />
      </swiper-slide>
    </swiper-container>
  <!-- 功能按钮-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>功能分类</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="grid-4">
        <div *ngFor="let func of functionButtons" class="function-item" (click)="openFunction(func)">
          <div class="function-icon">
            <img [src]="func.icon" alt="{{func.name}}" class="custom-icon" />
          </div>
          <ion-label>{{ func.name }}</ion-label>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 产品图 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>热门推荐</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <!-- 两列布局 -->
      <div class="product-grid">
        <div *ngFor="let product of products" class="product-card" (click)="viewProduct(product)">
          <img [src]="product.imageUrl" class="product-image">
          <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p class="price">{{ product.price }}</p>
          </div>
        </div>
      </div>
      
      <!-- 加载更多 -->
      <div *ngIf="isLoading" class="loading-more">
      <div class="custom-spinner"></div>
      <span>加载中...</span>
    </div>
  </ion-card-content>
</ion-card>
      <!-- 底部提示：向下滑动查看更多 -->
<div class="bottom-tip">
  <ion-text color="medium">
    <ion-icon name="arrow-down-outline" class="arrow-icon"></ion-icon>
    向下滑动查看更多
    <ion-icon name="arrow-down-outline" class="arrow-icon"></ion-icon>
  </ion-text>
</div>
</ion-content>