<ion-app>
  <ion-router-outlet animate="false" [key]="currentUrl"></ion-router-outlet>
  
  <!-- 底部导航栏：只在登录成功后显示 -->
  <ion-tabs *ngIf="showTabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>主页</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goToCategory()">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>分类</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="openCamera()">
        <ion-icon name="camera-outline"></ion-icon>
        <ion-label>拍照</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goToMessages()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>信息</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goToUser()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>我的</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>